<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="workoutTracker.css">
    <script src="resources/static/js/calendarHead.js"></script>

    <head th:replace="fragments :: head"></head>

</head>
<body>
<!--    navigation-->
    <div th:replace="fragments :: page-header"></div>

<!--calendar "header"-->
<div class="calendarHead">
    <ul>
        <p>
<!--            TODO: dynamic change to current month and year-->
             <p id="demo"></p>
            <br>
            <span style="font-size:18px">Year</span>
        </p>
    </ul>
</div>

<div style="overflow-x:auto;">
    <table class="timeSlots">
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <!--eventaully going to be a fragment TODO:create Dynamic fragment for population-->
        <tr class="weekday">
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
        </tr>
        <tr class="weekday">
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
            <td> <div th:replace="fragments :: popupBox"></div></td>
        </tr>
    </table>

</body>
</html>
