<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/workoutTracker.css}" rel="stylesheet" />

    <!--calendar-->
    <link rel="stylesheet" type="text/css" href="css/workoutTracker.css">
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'WorkoutTracker' + ${title == null ? '' : ' :: ' + title}">Workout Tracker</title>
    <meta charset="UTF-8">
    <title>Workout Tracker</title>
</head>
<!--Navigation setup-->
<body>
<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Workout Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/viewCalendar}">View Calendar</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/edit}">Edit</a></li>
            </ul>
        </div>
    </div>
</div>

<!--Calendar test-->
<div th:fragment="calendar">

</div>

<!--Popup box-->
<div th:fragment="popupBox">
    <div class="box">
        <a class="button" href="#popup1">Name</a>
    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Name</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
               Description La la la de da.
            </div>
        </div>
    </div>
</div>

</body>
</html>